@import "tailwindcss";

:root {
    --bg-page: #f0f0f0;
    --bg-card: #f0f0f0;
    --text-primary: #1c1c1c;
    --text-muted: #93928f;
    --border: #b4b1a6;
    --accent: #193827;
    --accent-bright: #23c55f;
}

.dark {
    --bg-page: #1c1c1c;
    --bg-card: #262625;
    --text-primary: #fafaf9;
    --text-muted: #a3a29e;
    --border: #3a3936;
    --accent: #306b4b;
    --accent-bright: #4ade80;
}

body {
    background-color: var(--bg-page);
    color: var(--text-primary);
    font-family: var(--font-display), var(--font-body), sans-serif;
}
